/* Color Theme */

:root{
    --main-color: #FFF;
    --bg-color: #151515;
    --box-shadow: rgba(255, 255, 255, .3);
}

body{
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    color: var(--main-color);
    background-color: var(--bg-color);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    background-position: 50% 50%; 
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

/* Making all tags accessible */

h1, h2, h3, h4, h5, h6, p, a, button, form, .footer, ul, li, text{
    position: relative;
    z-index: 5;
}

/* Header content */

.img-container{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px var(--box-shadow);
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

.img-container img{
    height: 100px;
    margin: 5px;
    padding: 15px;
}

/* Main page content */

/* Main Text Design */
.patterns {
    height: 35vh;
    width: 100vw;
    position: relative;
}
  
svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #00BBF9;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
}
  
@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset:  20%;
        fill:rgba(255, 255, 255, 1);
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: rgba(148, 222, 235, 0)
    }
}
    /* Main Text Design Ends */

.main-heading h1, .main-heading h2, .main-heading p, .main-heading a{
    color: var(--main-color);
    text-align: center;
}

.main-heading{
    color: var(--main-color);
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.inner-data{
    margin-top: -200px;
    height: 40vh; 
    width: 100vw;
}

.main-heading h1{
    font-size: 150px;
}

.main-heading h2{
    font-size: 40px;
}
.main-heading span{
    color: #00BBF9;
}


/* Story page content */

.story-box p, .question-box .form-label{
    text-align: justify;
}

.story-box p{
    font-size: 20px;
}

.story-box{
    height: 50%;
}

/* Question page content */

.quest{
    display: flex;
    justify-content: space-between;
}

.question-box{
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px var(--box-shadow);
}

/* Footer content */

.footer, .footer .foot-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Responsive Design */

@media (max-width: 575.98px) {
    .footer{
        flex-direction: column;
    }
    .footer .foot-links{
        margin-bottom: 20px;
    }
}

/* Loader Design */

#loader {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;
}
.clock-loader {
    --clock-color: #00BBF9;
    --clock-width: 10rem;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 0.5rem;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border: 3px solid var(--clock-color);
    border-radius: 50%;
}
.clock-loader::before,
.clock-loader::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
}

.clock-loader::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
}

.clock-loader::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}


/* Particles JS */
#particles-js{ 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
}

